<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <!-- Left Side -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-5">
            <div class="text d-flex flex-column gap-3">
              <h5>Exclusive</h5>
              <h6>Subscribe</h6>
              <p>Get 10% off your first order</p>
              <form class="d-flex position-relative w-100" role="search">
                <input
                  class="form-control me-2 bg-transparent custom-placeholder"
                  type="search"
                  placeholder="What are you looking for?"
                  aria-label="Search"
                />
                <button class="btn position-absolute top-0 end-0" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </form>
            </div>
          </div>
          <div
            class="col-md-6 d-flex flex-column gap-2 text-center text-md-start mb-5"
          >
            <h5>Support</h5>
            <p>111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
            <p>exclusive@gmail.com</p>
            <p>+88015-88888-9999</p>
          </div>
        </div>
      </div>

      <!-- Right Side -->
      <div class="col-md-6 text-center text-md-start mb-5">
        <div class="row">
          <div class="col-md-4">
            <div class="text d-flex flex-column gap-1">
              <h5>Account</h5>
              <p>My Account</p>
              <p>Login / Register</p>
              <p>Cart</p>
              <p>Wishlist</p>
              <p>Shop</p>
            </div>
          </div>
          <div class="col-md-4 text-center text-md-start mt-5">
            <div class="text">
              <h5>Quick Link</h5>
              <p>Privacy Policy</p>
              <p>Terms Of Use</p>
              <p>FAQ</p>
              <p>Contact</p>
            </div>
          </div>
          <div class="col-md-4 text-center text-md-start my-5">
            <div class="text">
              <h5>Download App</h5>
              <p class="text-white-50">Save $3 with App New User Only</p>
              <img src="/images/Frame 719.png" alt="" class="img-fluid" />
              <img src="/images/Frame 741.png" alt="" class="img-fluid mt-4" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Fontawsome Icons -->
<script src="/js/all.min.js"></script>
<!-- Bootstrap -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
