<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs') %>

    <section class="about">
      <div class="container">
        <div class="top mt-5 pt-5">
          <span class="text-muted"
            ><a href="/index.html">Home</a> /
            <span class="text-black"> About</span></span
          >
        </div>

        <div class="our-story">
          <div class="row">
            <div class="col-md-6 m-auto">
              <h1 class="fw-bold mb-5">Our Story</h1>
              <p>
                Launced in 2015, Exclusive is South Asia’s premier online
                shopping makterplace with an active presense in Bangladesh.
                Supported by wide range of tailored marketing, data and service
                solutions, Exclusive has 10,500 sallers and 300 brands and
                serves 3 millioons customers across the region.
              </p>
              <p>
                Exclusive has more than 1 Million products to offer, growing at
                a very fast. Exclusive offers a diverse assotment in categories
                ranging from consumer.
              </p>
            </div>
            <div class="col-md-6 mb-5 pb-5">
              <img
                src="images/portrait-two-african-females-holding-shopping-bags-while-reacting-something-their-smartphone 1.png"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>

        <div class="about-icons">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="card my-5 rounded-0">
                  <div class="icon text-center">
                    <i
                      class="fa-solid fa-store fa-3x rounded-circle p-3 my-4"
                    ></i>
                  </div>
                  <div class="text text-center">
                    <h3>10.5k</h3>
                    <p>Sallers active our site</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card my-5 rounded-0">
                  <div class="icon text-center">
                    <i
                      class="fa-solid fa-sack-dollar fa-3x rounded-circle p-3 my-4"
                    ></i>
                  </div>
                  <div class="text text-center">
                    <h3>33k</h3>
                    <p>Mopnthly Produduct Sale</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card my-5 rounded-0">
                  <div class="icon text-center">
                    <i
                      class="fa-solid fa-briefcase fa-3x rounded-circle p-3 my-4"
                    ></i>
                  </div>
                  <div class="text text-center">
                    <h3>45.5k</h3>
                    <p>Customer active in our site</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card my-5 rounded-0">
                  <div class="icon text-center">
                    <i
                      class="fa-solid fa-cloud fa-3x rounded-circle p-3 my-4"
                    ></i>
                  </div>
                  <div class="text text-center">
                    <h3>25k</h3>
                    <p>Anual gross sale in our site</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="our-team py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-5 rounded-0">
                  <div class="card-image">
                    <img src="images/Frame 874.png" alt="" class="img-fluid" />
                  </div>
                  <div class="card-body">
                    <h4 class="fw-bold">Tom Cruise</h4>
                    <p>Founder & Chairman</p>
                    <div class="all-icons d-flex gap-2">
                      <i class="fa-brands fa-twitter fa-xl"></i>
                      <i class="fa-brands fa-instagram fa-xl"></i>
                      <i class="fa-brands fa-linkedin-in fa-xl"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-5 rounded-0">
                  <div class="card-image">
                    <img src="images/Frame 875.png" alt="" class="img-fluid" />
                  </div>
                  <div class="card-body">
                    <h4 class="fw-bold">Emma Watson</h4>
                    <p>Managing Director</p>
                    <div class="all-icons d-flex gap-2">
                      <i class="fa-brands fa-twitter fa-xl"></i>
                      <i class="fa-brands fa-instagram fa-xl"></i>
                      <i class="fa-brands fa-linkedin-in fa-xl"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-5 rounded-0">
                  <div class="card-image">
                    <img src="images/Frame 876.png" alt="" class="img-fluid" />
                  </div>
                  <div class="card-body">
                    <h4 class="fw-bold">Will Smith</h4>
                    <p>Product Designer</p>
                    <div class="all-icons d-flex gap-2">
                      <i class="fa-brands fa-twitter fa-xl"></i>
                      <i class="fa-brands fa-instagram fa-xl"></i>
                      <i class="fa-brands fa-linkedin-in fa-xl"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="icons py-5">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4 mb-3">
            <i class="fa-solid fa-truck-fast fa-2xl rounded-circle p-3"></i>
            <div class="text mt-4">
              <h4>FREE AND FAST DELIVERY</h4>
              <p>Free delivery for all orders over $140</p>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <i class="fa-brands fa-servicestack fa-2xl rounded-circle p-3"></i>
            <div class="text mt-4">
              <h4>24/7 CUSTOMER SERVICE</h4>
              <p>Friendly 24/7 customer support</p>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <i class="fa-solid fa-certificate fa-2xl rounded-circle p-3"></i>
            <div class="text mt-4">
              <h4>MONEY BACK GUARANTEE</h4>
              <p>We reurn money within 30 days</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
