<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs') %>

    <section class="about my-5">
      <div class="container">
        <div class="top mt-5 pt-5">
          <span class="text-muted"
            ><a href="/index.html">Home</a> /
            <span class="text-black"> Wishlist</span></span
          >
        </div>
      </div>
    </section>

    <section class="products my-5">
      <div class="container">
        <div class="row">
          <h6 class="heading my-5">Wishlist</h6>

          <div class="col-md-3">
            <div class="card rounded-0 shadow-lg mb-3">
              <div class="card-image position-relative">
                <img src="images/Cart (5).png" alt="" class="img-fluid" />

                <a href="" class="discount position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-heart main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
                <a
                  href="/single-product.html"
                  class="discount-2 position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-eye main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
              </div>
              <div class="card-body">
                <h6>Gucci duffle bag</h6>

                <div class="cart d-flex gap-3">
                  <span class="main-color">$260</span>
                  <a href=""
                    ><i class="fa-solid fa-cart-shopping text-black fa-sm"></i
                  ></a>
                </div>

                <div class="stars mt-2">
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <span>(65)</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card rounded-0 shadow-lg mb-3">
              <div class="card-image position-relative">
                <img src="images/Cart (5).png" alt="" class="img-fluid" />

                <a href="" class="discount position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-heart main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
                <a href="" class="discount-2 position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-eye main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
              </div>
              <div class="card-body">
                <h6>Gucci duffle bag</h6>

                <div class="cart d-flex gap-3">
                  <span class="main-color">$260</span>
                  <a href=""
                    ><i class="fa-solid fa-cart-shopping text-black fa-sm"></i
                  ></a>
                </div>

                <div class="stars mt-2">
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <span>(65)</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card rounded-0 shadow-lg mb-3">
              <div class="card-image position-relative">
                <img src="images/Cart (5).png" alt="" class="img-fluid" />

                <a href="" class="discount position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-heart main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
                <a href="" class="discount-2 position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-eye main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
              </div>
              <div class="card-body">
                <h6>Gucci duffle bag</h6>

                <div class="cart d-flex gap-3">
                  <span class="main-color">$260</span>
                  <a href=""
                    ><i class="fa-solid fa-cart-shopping text-black fa-sm"></i
                  ></a>
                </div>

                <div class="stars mt-2">
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <span>(65)</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card rounded-0 shadow-lg mb-3">
              <div class="card-image position-relative">
                <img src="images/Cart (5).png" alt="" class="img-fluid" />

                <a href="" class="discount position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-heart main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
                <a href="" class="discount-2 position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-eye main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
              </div>
              <div class="card-body">
                <h6>Gucci duffle bag</h6>

                <div class="cart d-flex gap-3">
                  <span class="main-color">$260</span>
                  <a href=""
                    ><i class="fa-solid fa-cart-shopping text-black fa-sm"></i
                  ></a>
                </div>

                <div class="stars mt-2">
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <span>(65)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <div class="card rounded-0 shadow-lg mb-3">
              <div class="card-image position-relative">
                <img src="images/Cart (5).png" alt="" class="img-fluid" />

                <a href="" class="discount position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-heart main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
                <a href="" class="discount-2 position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-eye main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
              </div>
              <div class="card-body">
                <h6>Gucci duffle bag</h6>

                <div class="cart d-flex gap-3">
                  <span class="main-color">$260</span>
                  <a href=""
                    ><i class="fa-solid fa-cart-shopping text-black fa-sm"></i
                  ></a>
                </div>

                <div class="stars mt-2">
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <span>(65)</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card rounded-0 shadow-lg mb-3">
              <div class="card-image position-relative">
                <img src="images/Cart (5).png" alt="" class="img-fluid" />

                <a href="" class="discount position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-heart main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
                <a href="" class="discount-2 position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-eye main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
              </div>
              <div class="card-body">
                <h6>Gucci duffle bag</h6>

                <div class="cart d-flex gap-3">
                  <span class="main-color">$260</span>
                  <a href=""
                    ><i class="fa-solid fa-cart-shopping text-black fa-sm"></i
                  ></a>
                </div>

                <div class="stars mt-2">
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <span>(65)</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card rounded-0 shadow-lg mb-3">
              <div class="card-image position-relative">
                <img src="images/Cart (5).png" alt="" class="img-fluid" />

                <a href="" class="discount position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-heart main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
                <a href="" class="discount-2 position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-eye main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
              </div>
              <div class="card-body">
                <h6>Gucci duffle bag</h6>

                <div class="cart d-flex gap-3">
                  <span class="main-color">$260</span>
                  <a href=""
                    ><i class="fa-solid fa-cart-shopping text-black fa-sm"></i
                  ></a>
                </div>

                <div class="stars mt-2">
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <span>(65)</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card rounded-0 shadow-lg mb-3">
              <div class="card-image position-relative">
                <img src="images/Cart (5).png" alt="" class="img-fluid" />

                <a href="" class="discount position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-heart main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
                <a href="" class="discount-2 position-absolute top-0 end-0 me-2"
                  ><i
                    class="fa-solid fa-eye main-color fa-xl rounded-circle bg-white p-2"
                  ></i
                ></a>
              </div>
              <div class="card-body">
                <h6>Gucci duffle bag</h6>

                <div class="cart d-flex gap-3">
                  <span class="main-color">$260</span>
                  <a href=""
                    ><i class="fa-solid fa-cart-shopping text-black fa-sm"></i
                  ></a>
                </div>

                <div class="stars mt-2">
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <i class="fa-solid fa-star text-warning"></i>
                  <span>(65)</span>
                </div>
              </div>
            </div>
          </div>

          <div class="pagenation text-center my-3">
            <nav aria-label="Page navigation example text-center m-auto">
              <ul class="pagination text-center m-auto">
                <li class="page-item text-center">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
